* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 85px;
  background-color: #333333;
  color: white;
  align-items: center;
  margin-bottom: 65px;
}

main {
  width: 85%;
}

.container {
  width: 85%;
}

.search {
  background-color: rgb(9, 102, 223);
  color: white;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
}
.city input {
  font-size: 16px;
  line-height: 1.6;
}
