/* 





 */

nav {
  height: 85px;
  background-color: #333333;
  color: white;
  align-items: center;
  margin-bottom: 65px;
}

nav h1 {
  font-size: 52px;
}

.main-weather p {
  font-size: 24px;
}

.bubble img {
  height: 50px;
}

.green {
  background-color: green;
  color: white;
}

.yellow {
  background-color: yellow;
  color: black;
}

.orange {
  background-color: orange;
  color: black;
}

.red {
  background-color: red;
  color: white;
}

.purple {
  background-color: purple;
  color: white;
}

.little {
  width: 60px;
}

/* .bubble {
  padding-top: 12px;
  background-color: #192ff5;
  color: white;
  border-radius: 12px;
} */
